@import "nativescript-theme-core/css/core.light.css";

/* Import css from other modules */
@import "~/modules/user/index.css";
@import "~/modules/grocery/index.css";
@import "~/modules/store/index.css";

ActionBar {
  background-color: grey;
  color: white;
}
.hide {
    display: none;
    visibility: hidden;
}
.test {
    color: green;
}
.page-base {
  background-image: url("~/images/backpic.png");
  justify-content: center;
  align-items: center;
  background-size: cover;
}
FlexboxLayout {
  justify-content: center;
  align-items: center;
  background-size: cover;
}
StackLayout {
  width: 300;
  padding: 10 16;
  background-color: beige;
}
Image {
  margin-bottom: 20;
  height: 70;
}
Button, TextField {
  margin-bottom: 10;
}
.btn-primary {
  background-color: #CB1D00;
  margin-left: 0;
  margin-right: 0;
}
TextField {
  placeholder-color: #C4AFB4;
  color: black;
}

/* Forms */
.form-errors {
    color: red;
    font-size: 14px;
    line-height: 1;
    padding: 2px 0;
    background-color: transparent;
    border-color: transparent !important;
}

/* Loaders */
.app-loader {
    position: absolute;
}
